<template>
  <div>
    <header>
      Nuxt 3 Test
      <nav v-if="navLinks.length" class="flex">
        <nuxt-link v-for="(link, i) in navLinks" :key="i" :to="link.url">{{ link.title }}</nuxt-link>
      </nav>
    </header>
    <slot />
    <footer>ini footer</footer>
  </div>
</template>

<script lang="ts">
interface Link {
  title: string
  url: string
}
export default {
  data() {
    return {
      navLinks: [
        {
          title: 'Index',
          url: '/'
        },
        {
          title: 'About',
          url: '/about'
        }
      ] as Link[]
    }
  }
}
</script>

<style lang="css">
.flex {
  display: flex;
  gap: 10px;
}
</style>