<template>
  <h1>About Us</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi neque accusamus ipsam commodi est atque tenetur error dolorum illo doloremque id placeat blanditiis alias, accusantium at voluptates in vel? Doloremque repellendus dolorem earum sint. Quas ab rem amet esse tempore? Deleniti, cupiditate consectetur. Cumque laudantium harum est laboriosam nemo. A.</p>
</template>

<script lang="ts">
export default {

}
</script>

<style>

</style>