<template>
  <h1>Home</h1>
  <form @submit.prevent="handleSubmit">
    <input v-model="number1" type="number" />
    <input v-model="number2" type="number" />
    <button type="submit">Calculate</button>
    <hr>
    <p>Result: {{ result }}</p>
  </form>
</template>

<script lang="ts">
export default {
  data() {
    return {
      number1: 0 as number,
      number2: 0 as number,
      result: 0 as number
    }
  },
  methods: {
    handleSubmit(): void {
      this.result = this.sum(this.number1, this.number2)
    },
    sum(x: number, y: number): number {
      return x+y
    }
  }
}
</script>

<style>

</style>